.git/
build/
cmake-build-*/
bin/
out/
.cache/
**/.DS_Store

# IDE
.idea/
.vs/
*.user
*.suo

# CI
.github/

# Scripts (pas nécessaires au build Docker ici)
scripts/

# Docs (garde README si tu veux)
*.md
!README.md

# Docker files (garde ce dont tu as besoin)
docker-compose*.yml