BEAMMP_DEBUG=false
BEAMMP_PRIVATE=true
BEAMMP_PORT=30814
BEAMMP_MAX_CARS=1
BEAMMP_MAX_PLAYERS=8
BEAMMP_MAP=/levels/gridmap_v2/info.json
BEAMMP_NAME=BeamMP Server
BEAMMP_DESCRIPTION="BeamMP Default Description"
BEAMMP_TAGS=
BEAMMP_RESOURCE_FOLDER=Resources
BEAMMP_AUTH_KEY=
BEAMMP_LOG_CHAT=true
BEAMMP_PROVIDER_DISABLE_CONFIG=true