[submodule "include/commandline"]
    path = include/commandline
    url = https://github.com/lionkor/commandline
[submodule "socket.io-client-cpp"]
	path = socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "include/tomlplusplus"]
	path = include/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
