[submodule "include/commandline"]
    path = include/commandline
    url = https://github.com/lionkor/commandline
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "include/toml11"]
	path = include/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "include/sentry-native"]
	path = include/sentry-native
	path = deps/toml11
    url = https://github.com/ToruNiina/toml11
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/getsentry/sentry-native