name: CMake Linux Build

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: 'true'

    - name: Install Dependencies
      run: |
          sudo apt-get update
          sudo apt-get install -y libz-dev rapidjson-dev liblua5.3 libssl-dev libwebsocketpp-dev
          sudo add-apt-repository ppa:mhier/libboost-latest
          sudo apt-get install -y libboost1.70-dev libboost1.70

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build-linux

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build-linux
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_CXX_COMPILER=g++-10

    - name: Build
      working-directory: ${{github.workspace}}/build-linux
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: BeamMP-Server-linux
        path: ${{github.workspace}}/build-linux/BeamMP-Server
