name: CMake Linux Build

on: [push, pull_request, pull_request_review_comment]

env:
  BUILD_TYPE: Release

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y libz-dev rapidjson-dev libcurl4-openssl-dev liblua5.3

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build-linux

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build-linux
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_CXX_COMPILER=g++-10

    - name: Build
      working-directory: ${{github.workspace}}/build-linux
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

